:root {
  background-color: #dfe6e9;
  font-size: 62.5%;
}

* { 
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
body {
  display: flex;    
  flex-direction: column;
  align-items: center;
}

nav {
  font-size: 3rem;
	width: 80%;
	border-bottom: 2px solid #333;
	margin: 10px 0;
  padding: 10px;
	display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  color: #333;
}

@media (min-width:320px)  {
  nav {
    font-size: 2.5rem;
  }
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	gap: 10px;
	max-width: 800px;
	margin: 2rem auto 5rem auto;
	width: 100vw;
}

.fa-copy {
  font-size: 3rem;
  opacity: 0.5;
  color: #FFF;
  position: absolute;
  bottom: 75px;
}

.fa-circle-question {
  cursor: pointer;
}

.fa-circle-question:hover {
  color: #2d3436;
}

.colour-preview {
	height: 250px;
	width: 250px;
	position: relative;
	cursor: pointer;
	background: #9b59b6;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-content: center;
	align-items: center;
  border: 1px solid #999;
  border-radius: 50%;
  text-shadow: 1px 1px 10px rgba(51,51,51,0.75);
}

.colour-value {
  font-size: 2.5rem;
  font-weight: 900;
  opacity: 0.5;
  color: #FFF
  /* color: red; */
}

button {
    border: none;
    color: white;
    padding: 0.9rem 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.5s;
    margin: 0.5rem;
}

.picker::after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f1fb";
  padding: 0 0 0 0.2rem;
}

.picker {
  background-color: #00b894;
}

.picker:hover {
  background-color: #55efc4;
}

.options {
  display: flex;
}

.options button {
  background-color: #f7f1e3;
  color: #333;
  display: flex;
  align-items: center;
  opacity: 0.5;
}

.options button em {
  font-size: 1rem;
  font-style: normal;
  padding: 0.5rem;
}

.options .selected {
  border: 2px solid #84817a;
  opacity: 1;
}

.history {
  display: flex;
  justify-content: space-evenly;
  margin: 1.75rem;
}

.history span {
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  background-color: red;
  transition: 0.8s;
  cursor: pointer;
}

.copiedAlert {
  position: absolute;
  top:0;
  z-index: 1000;
  width: 100%;
  text-align: center;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(255,255,255, 0.6);
  text-shadow: 1px 1px 10px rgba(51,51,51,0.75);
  display: none;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 2rem;
  background: #353b48;
  color: #fff;
  font-size: 1.5rem;
  flex-shrink: 0;
  width: 100%;
}

.footer a {
  color: #fff;
  padding: 0.2rem 0;
}

.footer .contacts {
  display: flex;
  flex-direction: column;
}